<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Aramis Satisfaction</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aramis.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block nav %}{% include 'nav.html.twig' %} {% endblock %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% block body %}{% endblock %}
            {% block mainform %}{% endblock %}
            {% block footform %}{% endblock %}
            <script src="{{ asset('js/jquery-1.12.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            {% block javascripts %}{% endblock %}
        {% endif %}
    </body>
</html>
